<app-sidebar></app-sidebar>
<main class="py-10 md:ml-64">
    <div class="px-4 sm:px-6 lg:px-8">
        <div class="border-b border-gray-200 bg-white px-4 py-5 sm:px-6">
            <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
                <div class="ml-4 mt-2">
                    <h3 class="text-base font-semibold leading-6 text-gray-900">Current user login
                        Email is: {{email}}</h3>
                </div>

            </div>
            <div id="quiz-data">
                <!-- Iterate over quizzes and display each quiz -->
                <div *ngFor="let quiz of quizzes" class="border border-gray-200 p-4 mt-4">
                    <h4 class="text-lg font-semibold">{{ quiz.name }}</h4>
                    <!-- Add more content here as needed -->
                </div>
            </div>
        </div>
    </div>
</main>